<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.weatherdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Firebase start -->
        <activity
            android:name=".firebase.FirebaseListActivity"
            android:theme="@style/AppTheme" />

        <!-- AdMob -->
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".admob.InterstitialAdActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admob.RewardedVideoAdActivity"
            android:theme="@style/AppTheme" />

        <!-- FCM -->
        <service android:name=".firebase.fcm.FCMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
            APP处于前台时：可以在onMessageReceived（）全权处理消息如自定义notification : large_icon , small_icon , color .
            APP处于后台时：由系统通知处理这部分显示，只可以在Manifest定义 : icon、color
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".firebase.fcm.FcmActivity"
            android:theme="@style/AppTheme" />

        <!-- Remote Config -->
        <activity
            android:name=".firebase.remoteconfig.RemoteConfigActivity"
            android:theme="@style/AppTheme" />

        <!-- Crash Report -->
        <activity
            android:name=".firebase.crashreport.CrashReportActivity"
            android:theme="@style/AppTheme" />

        <!-- Analytics -->
        <activity
            android:name=".firebase.analytics.AnalyticsActivity"
            android:theme="@style/AppTheme" />

        <!-- performance -->
        <activity
            android:name=".firebase.performance.PerformanceMainActivity"
            android:theme="@style/AppTheme" />

        <!-- In-app message -->
        <activity
            android:name=".firebase.inappmessaging.InAppMsgMainActivity"
            android:theme="@style/AppTheme" />

        <!-- Auth -->
        <activity
            android:name=".firebase.auth.AuthChooseActivity"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".firebase.auth.CustomAuthActivity"
            android:label="@string/label_custom_auth"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".firebase.auth.GoogleSignInActivity"
            android:label="@string/label_google_sign_in"
            android:theme="@style/AppTheme" />
        <!--
            <activity
            android:name=".firebase.auth.FacebookLoginActivity"
            android:theme="@style/AppTheme"
            android:label="@string/label_facebook_login" />
        -->
        <activity
            android:name=".firebase.auth.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".firebase.auth.PasswordlessActivity"
            android:label="@string/label_passwordless"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="your-project-id.firebaseapp.com"
                    android:scheme="https" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firebase.auth.PhoneAuthActivity"
            android:label="@string/label_phone_auth"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".firebase.auth.AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth"
            android:theme="@style/AppTheme" />
        <!--
            <activity
            android:name=".firebase.auth.TwitterLoginActivity"
            android:theme="@style/AppTheme"
            android:label="@string/label_twitter_login" />
        -->


        <!-- Invite -->
        <activity
            android:name=".firebase.invite.InviteMainActivity"
            android:theme="@style/AppTheme" />

        <!-- dynamic links -->
        <activity
            android:name=".firebase.dynamiclinks.DynamicLinkMainActivity"
            android:theme="@style/AppTheme" />

        <!-- app indexing -->
        <!--
        <activity
            android:name=".firebase.appindexing.AppIndexingMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash; Accepts URIs that begin with "https://www.example.com/articles/" &ndash;&gt;
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/articles/"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mystickers" />
                <data android:host="sticker" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.google.samples.quickstart.appindexing.java.StickerProvider"
            android:authorities="com.google.samples.quickstart.appindexing.java.StickerProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <service
            android:name="com.google.samples.quickstart.appindexing.java.AppIndexingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name=".firebase.indexing.IndexingMainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/caobaokang419"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firebase.indexing.PersonalIndexingActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cbkpersonal" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".firebase.indexing.AppIndexingUpdateReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </receiver>

        <service
            android:name=".firebase.indexing.AppIndexingService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- Firebase end -->


        <!-- main activity -->
        <activity
            android:name=".ui.activity.WtMainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--弃用-->
        <activity
            android:name=".ui.activity.WtMainActivity1"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ui.activity.WtMainActivity2"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ui.activity.WtSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.WtSearchActivity"
            android:theme="@style/AppTheme" />

        <!-- widget provider -->
        <receiver android:name=".ui.widget.WeatherWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather_config" />
        </receiver>

        <!-- db content provider -->
        <provider
            android:name=".provider.db.WtContentProvider"
            android:authorities="com.gary.weatherdemo.db.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.gary.weatherdemo.DB_PROVIDER" />

        <!-- sp content provider -->
        <provider
            android:name=".provider.sp.WtSharedPreferenceProvider"
            android:authorities="com.gary.weatherdemo.sp.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.gary.weatherdemo.SP_PROVIDER" />

        <!-- background service -->
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <!-- broadcast receiver -->
        <receiver
            android:name=".reciever.WtReceiver"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>