<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.weatherdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main activity -->
        <activity
            android:name=".ui.activity.WtMainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!--弃用-->
        <activity
            android:name=".ui.activity.WtMainActivity1"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ui.activity.WtMainActivity2"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.WtSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.WtSearchActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activity.WtDownloadActivity"
            android:theme="@style/AppTheme" />

        <!-- widget provider -->
        <receiver android:name=".ui.widget.WeatherWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather_config" />
        </receiver>

        <!-- db content provider -->
        <provider
            android:name=".provider.db.WtContentProvider"
            android:authorities="com.gary.weatherdemo.db.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.gary.weatherdemo.DB_PROVIDER" />

        <!-- sp content provider -->
        <provider
            android:name=".provider.sp.WtSharedPreferenceProvider"
            android:authorities="com.gary.weatherdemo.sp.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.gary.weatherdemo.SP_PROVIDER" />

        <!-- background service -->
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <!-- broadcast receiver -->
        <receiver
            android:name=".reciever.WtReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>